* {
    box-sizing: border-box;
    color:greenyellow;
    background-color: black;
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
}
/* #static {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: .2;
} */
#mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
#navBar {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
#tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tab {
    margin: 5px;
}
#line {
    width: 100%;
    height: 2px;
    background-color: greenyellow;
}
.mainContent {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100fr);
}
.stat {
    visibility: visible;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#statBotNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.navBottom {
    background-color: green;
    opacity: .7;
    color: greenyellow;
    margin: 2px;
    font-weight: bold;
}
#hp {
    flex-basis: 20%;
    height: 100%;
    vertical-align: baseline;
}
#level{
    display: flex;
    align-items: center;
    flex-basis: 60%;
    flex-wrap: nowrap;
    height: 100%;
}
#ap {
    flex-basis: 20%;
    text-align: right;
    height: 100%;
}
#levelBar {
    margin: 0px 5px;
    height: 50%;
    flex-basis: 80%;
    background-color: black;
    border: 2px solid greenyellow;
}
button:hover {
    cursor: pointer;
}
.inv {
    visibility: collapse;
    grid-column-start: 1;
    grid-row-start: 1;
}
.data {
    visibility: collapse;
    grid-column-start: 1;
    grid-row-start: 1;
}
.map {
    visibility: collapse;
    grid-column-start: 1;
    grid-row-start: 1;
}
.radio {
    visibility: collapse;
    grid-column-start: 1;
    grid-row-start: 1;
}

@media (min-width: 769px) {
    #botNavBar {
        height: 7vh;
    }
    #navBar, #botNavBar, #name {
        font-size: 30px;
    }
    #levelBar {
        flex-basis: 75%;
    }
}